<mat-toolbar color="primary">
  <span>Book Store</span>
  <span class="example-spacer"></span>
  <button mat-raised-button routerLink="/mainpage/inicio" color="primary">Autores</button>
  <button mat-raised-button routerLink="/mainpage/books" color="primary">Libros</button>
  <button mat-raised-button routerLink="/mainpage/cliente" color="primary">Cliente</button>
  <button mat-raised-button routerLink="/mainpage/libroautor" color="primary">Libro por Autor</button>
  <button mat-raised-button routerLink="/mainpage/libroeditorial" color="primary">Libro por Editorial</button>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="/mainpage/shop" aria-label="Example icon button with a menu icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button  routerLink="/mainpage/profile" aria-label="Example icon button with a menu icon">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-icon-button routerLink="login" aria-label="Example icon button with a menu icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
