<div class="container-lg d-flex justify-content-center align-items-center mt-4">
  <form [formGroup]="libro">
    <h1 class="container justify-content-center">Registre un libro</h1>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form6Example1" class="form-control" formControlName="titulo"/>
          <label class="form-label mt-2" for="form6Example1" >Titulo del libro</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="ISBN" class="form-control" formControlName="ISBN"/>
          <label class="form-label" for="ISBN" >ISBN</label>
        </div>
      </div>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control" formControlName="genero"/>
      <label class="form-label" for="form6Example3" >Género</label>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example4" class="form-control" formControlName="anio" />
      <label class="form-label" for="form6Example4" >Año de publicación</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form6Example5" class="form-control" formControlName="precio" />
      <label class="form-label" for="form6Example5" >Precio</label>
    </div>

    <!-- Number input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control" formControlName="autor"/>
      <label class="form-label" for="form6Example3" >Autor</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control" formControlName="editorial"/>
      <label class="form-label" for="form6Example3" >Editorial</label>
    </div>

    <!-- Submit button -->
    <button (click)="registrar()" class="btn btn-primary btn-block mb-4 d-flex justify-content-center align-items-center">Registrar</button>
  </form>

</div>
