<form [formGroup]="identificador" >
  <div class="container d-flex justify-content-center mt-3">
    <div class="col-3">
      <div class="row-3">
        <h4>Id del libro</h4>
        <input type="text" class="form-control mb-3" formControlName="id"/>
        <div class="col-3 mt-3">
          <button mat-flat-button color="accent" (click)="obtenerClientesconPrest()">Obtener</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Inicio de préstamo</th>
        <th scope="col">Fin de préstamo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of arrayCliente| paginate: {itemsPerPage: 10, currentPage: page }">
        <th scope="row">{{cliente.id}}</th>
        <td scope="row">{{cliente.cliente.firstName}}</td>
        <td>{{cliente.cliente.lastName}}</td>
        <td>{{cliente.fechainicioPrestamo}}</td>
        <td>{{cliente.fechafinPrestamo}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange) = "page = $event"
  previousLabel = "Anterior"
  nextLabel="Siguiente"></pagination-controls>
</div>
